[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	name = theshteves
	email = stevenkneiser@gmail.com
	editor = vim
[push]
	default = tracking
[github]
	user = theshteves
