[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/dotfiles/.gitignore_global
[user]
	name = theshteves
	email = stevenkneiser@gmail.com
	editor = vim
[push]
	default = tracking
[github]
	user = theshteves
[init]
	defaultBranch = main
[pull]
	rebase = true
[diff]
	submodule = log
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
